@import "mixins";

@mixin stripe() {
  width: 30px;
  height: 4px;

  border-radius: 2px;
  background-color: black;
}

@mixin stripePseudo() {
  content: "";
  position: absolute;
}

@mixin closeBtnStripe() {
  top: 17px;
  left: 6px;
}

.burger {
  position: relative;
  align-self: center;

  margin-left: auto;

  @include stripe;
  @include device-only;

  &::before {
    top: -10px;

    @include stripePseudo;
    @include stripe;
  }

  &::after {
    bottom: -10px;

    @include stripePseudo;
    @include stripe;
  }

  &:active {
    opacity: 0.8;
  }
}

.menuMobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}

.closeBtn {
  position: relative;
  margin: 0 auto 15px;
  width: 45px;
  height: 45px;

  &::before {
    transform: rotate(45deg);

    @include closeBtnStripe;
    @include stripePseudo;
    @include stripe;
  }

  &::after {
    transform: rotate(-45deg);

    @include closeBtnStripe;
    @include stripePseudo;
    @include stripe;
  }
}