$danger-color: #f26868;

.container {
  display: flex;
  flex-direction: column;

  font-size: 1.2rem;
  text-transform: capitalize;
}

.input {
  box-sizing: border-box;
  margin-top: .5rem;
  padding: 1.25rem .5rem;
  height: 2rem;

  border: 1px solid black;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.input-invalid {
  border: 1px solid $danger-color;
  color: $danger-color;
}

.label {
  font-weight: 700;
}

.label-invalid {
  color: $danger-color;
}