.button {
  height: 40px;

  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;

  border: 1px solid rgba(0, 0, 0, 0.75);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &[disabled] {
    opacity: 0.5;
  }
}