@import "mixins";

.navigation {
  display: flex;
  justify-content: space-between;

  height: 100%;

  @include center {
    padding: 0;
  }

  @include desktop-only;
}

.mainLink {
  @include device-only;
}