@import "mixins";
$card-unit: 24px;

.card {
  display: flex;
  flex-direction: column;

  padding: $card-unit;
  margin-right: $card-unit;
  min-width: 295px;
  width: 295px;
  border-radius: $card-unit / 3;

  box-shadow: 0 6px 15px rgba(0,0,0,.1);

  &:last-child {
    margin-right: 0;
  }

  @include tablet {
    margin-right: 0;
    margin-bottom: $card-unit;
    min-width: auto;
    width: 100%;
    height: auto;
  }
}

.title {
  font-size: 1.5rem;
}

.price {
  margin-bottom: $card-unit;
  font-size: 1.75rem;
}

.button {
  margin-top: auto;
}