@import "mixins";
@import "rw-constants";

.container {
  position: relative;
  display: flex;

  padding: 0 25px;
  width: 100%;
  height: $header-height;

  background-color: white;

  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.logo {
  position: absolute;
  left: 25px;

  width: 150px;
  height: $header-height;

  background: url("../../images/logo.svg") no-repeat center center;

  &:hover {
    background: url("../../images/logo.svg") no-repeat center center;
    opacity: 0.8;
  }

  @include tablet-lg {
    position: static;
  }
}

.headroom {
  z-index: 20;
}