.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 25px;

  width: 100%;
  max-width: 720px;
}

.form {
  display: flex;
  flex-direction: column;

  max-width: 300px;
}

.form-element {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.success-message {
  font-size: 1.5rem;
}

.loader {
  position: absolute !important;

  align-self: center;
  margin: 0 auto;
}