.form {
  display: flex;
  flex-direction: column;
  padding: 25px;

  width: 100%;
  max-width: 720px;
}

.form-element {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.success-message {
  font-size: 1.5rem;
}